*{
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Helvetica;
    background-color: rgb(255,255,255);
    color: rgb(80,80,80);
    text-align: center;
}

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
}

.rating{
    background-color: rgb(245, 245, 245);
    grid-column: span 2;
}

#name{ 
    padding-top: 5vw;
}

.rate {
    grid-column: span 2;
    background-color: rgb(233, 233, 233);
}

.center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ratePerHour {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: span 2;
    background-color: rgb(254, 254, 254);
}

#title {
    padding-top: 3vw;
}

.profile {}

#pfp{}

p{}

#stars{}

main{}

button{}

button:hover{}

#call{}

.button_container{}

.fa-solid